/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #fff;
}


/* header and footer elements */

#main {
	margin:10px 2px 2px 5px;
	display:box;
}

#menu {
	background: #eee;
	position:relative;
	float:left;  	
	left:0px;
	width:220px;
	margin-right:15px;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #648C1D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 12px;
}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #648C1D;
	background: #fff;
}

#footer {
	background:#fff;
	border:none;
	margin-top:15px;
	border-top:1px solid #999999;
}

#footer .new {
	float:left;
}

#footer a:link {color: #7db223;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}




.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	overflow-y: auto !important;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}
#quickSearchPanel{
	overflow: hidden;
	 background-color: #EEEEEE;
}
#quickSearchPanel .quickSearch_input{
	float: right;
	 padding: -10px;
}
#quickSearchPanel .quickSearch_button{
	float: right;
}
#quickSearchPanel .buttonList{
	float: left; margin: 0px 10px;
}
#quickSearchPanel .buttonList a img{
	margin: 3px 5px;
}
#form_advanced_panel_link{
	color: blue;
	vertical-align: top;
	margin: 5px 0px 15px 0px;
}
#form_advanced_panel_link:hover{
	text-decoration: underline;
	cursor: pointer;
}
#form_advanced_panel_link img{
	margin-left: 5px;
	margin-bottom: -5px;
}
.hidden_arrow{
	display: none;
}
.form_submit_button{
	margin: 0px 20px 0px 0px;
}