/* CSS Document */
body {
	margin: 0px 0px;
	padding: 0px;
	background-color: #ccc;
}
.dataTables_filter input{
	width:200px;
}
.bodycontent {
	width: 100%;
}
.input_tag{
	width: 300px;
}

.header {
	background-color: #467AA7;
	padding: 0px 10px;
	color: #85ADD0;
}

.header a,.menu_sitemap a {
	color: #FFFFFF;
	text-decoration: none;
}

.header a:hover,.menu_sitemap a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}

.header_menu {
	overflow: hidden;
	font-size: 80%;
}

.header_menu img {
	padding-left: 5px;
}

.header_projectname {
	clear:both;
	margin: 0px;
	padding: 10px;
}

.header_menu_left,.header_menu_right {
	background-color: #1964A6;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border: thin solid #333;
	border-top-width: 0px;
	padding: 0px;
}

#header_menu_first {
	color:#FFF;
	border-left-width: 0px;
}

.header_menu_left {
	float: left;
	overflow: hidden;
}

.header_menu_right {
	float: right;
	overflow: hidden;

}

.header_menu_left_item {
	float: left;
	border-left: thin solid #333;
	padding: 2px 31px;
	margin: 0px;
}

.header_menu_right_item_border {
	border-left: thin solid #fff;
}

.header_menu_right_item {
	float: right;
	padding: 2px 10px;
	margin: 0px;
}

#header_menu_myproject:hover {
	cursor: pointer;
}

#header_menu_search {
	padding: 5px 5px;
	margin: 0px 0px;
}

#header_menu_search form {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

#header_menu_search_input {
	margin: 0px 0px;
	border-width: 0px;
	padding: 0px 0px;
	width: 250px;
}

#header_menu_search_icon {
	height: 10px;
}

.menu {
	
}

.content {
	min-height: 400px;
	padding: 10px 10px;
}

.footer {
	background-color: #1964A6;
	text-align: center;
	padding: 10px;

	color: #FFF;
}

.footer p {
	margin: 0px;
	padding: 0px;
}

.footer a {
	color: #FFFFFF;
	text-decoration: none;
}

.footer a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}

.menu_sitemap {
	background-color: #1964A6;
	padding: 5px;
	padding-left: 10px;
	color: #85ADD0;
	font-size: 80%;
	min-height: 20px;
}

.menu_sitemap a {
	padding: 0px 5px;
}

.menu_sitemap img:hover {
	cursor: pointer;
}

.menu_menu {
	background-color: #1964A6;
	overflow: hidden;
	padding-left: 10px;
}

.menu_menu_item,.menu_menu_item_current {
	padding: 5px;
	margin: 4px 2px 0px 2px;
	width: 100px;
	text-align: center;
	float: left;
	background-color: #CCCCCC;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	color: #2A63CC;
	font-size: 120%;
}

.menu_menu_item:hover {
	cursor: pointer;
	background-color: #EFEFEF;
}

.menu_menu_item_current {
	background-color: #FFFFFF;
	!
	important;
}
.btn
{
	float:right;
	margin: 10px;
}
.btn:hover
{
	background-color: #ccc;
}
/* css for overview project*/
.panel
{
	border: solid 1px #ccc;
	border-radius : 4px;
	margin: 10px;
	padding: 10px;
}

.left-panel
{
	float: left;
	width: 45%;
	height:100%;
	padding-right:25px;
	
}

.right-panel
{
	float: right;
	width: 50%;
}

#project-tab
{
	margin-top:-15px;
	margin-bottom: 10px;
}
#project-tab li
{	
	border: solid 1px #ccc;
	float: left;
	list-style-type: none;
	padding: 5px;
	margin: 0px;
	text-align: none;
	color: #0067ff;
}

#project-tab a
{
	text-decoration:none;
	color: #64bc0b;
}

#project-tab a:hover
{
	text-decoration:underline;
}

.task-left
{
	float: left;
	width: 20%;
}

.task-right
{
	float: right;
	width: 70%;
}

table
{
	width: 100%;
	border: none;
}

}
.error
{
	float: none;
	color: red;
}

.clear
{
	clear:both;
}

td a
{
	color:#0D44AA !important;
	text-decoration: none;
	font-weight: bold;
}

td a:hover
{
	text-decoration: underline;
}



.command
{
	text-align: center;
}

#wrapper {
	width: 1000px;	
	margin: auto;	
	overflow:hidden;
	display:block;
	background-color: #fff;	
	border: solid 1px #aaa;
	border-top:none;
}
.search
{
	padding: 4px;
}


input[type="search"]
{
	height: 25px;
	width: 200px;
}

input[type="submit"],input[type="file"], input[type="reset"],  input[type="button"], button
{
	padding: 4px;
	font-weight: bold;
	background-color: #666 !important;
	border: solid 1px #666;
	color: #fff;	
	border-radius:2px;	
}

input[type="submit"]:hover,input[type="file"]:hover, input[type="reset"]:hover, input[type="button"]:hover, button:hover
{
	background-color: #ccc !important;
	border-color: #bbb;
	color: #333;
}

input[type="text"]
{
	height: 20px;
}
/* textarea
{
	max-width: 80% !important;
	min-width: 80% !important;
}
textarea
{	
	max-height:200px ;
	min-height: 50px !important;
} */
.fix-panel
{
	border:none !important;
	margin-bottom: 10px;
	margin-left :auto;
	margin-right: auto;
}
.panel-title
{	
	font-weight:bold;
	color: #008040;
	overflow:hidden;
	font-size:16px;
	padding-right: 42px;
}
.panel-title label{
	color:#666;
	font-size:12px;
}
.border-bottom{
	border-bottom: solid 2px #aaa;
	margin: 0px 42px 15px 0px;
}
.panel-title a {
	color: #008040;
}
.panel-title a:hover{
	color: #008040;
	text-decoration: underline;
}
.panel-content
{
	padding: 10px;
}
#sitemap
{
	color: #aaa;
	font-weight: bold;
}

label
{
	vertical-align:top;
	text-align:right;
	min-width: 120px;
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
}

.ui-autocomplete-input
{
	width: 250px;
	height: 20px;
}

.submit
{
	text-align: center;
}
th
{
	text-align: left;	
}

.datatable_buttons
{
	float:left;
	width: 23%;
}

#tbproject_info
{
	width: 400px;
}
#quickSearchPanel
{
	border-radius : 4px 4px 0 0;
	border: solid 1px #ccc;
	border-bottom: none;
}

tr:hover td
{
	background-color: #88B6D9  !important;
	cursor: pointer;
}

#form_advanced_panel_link
{
	color: #333;
	font-weight : bold;
	margin-left:10px;	
	text-align: right;
	width: 120px;
}

.quicklinks
{
	padding-bottom: 20px;
}

.fix-panel
{
	border: solid 1px #ccc;	
}

.welcome
{
	margin: auto;
	margin-top: 50px;
	border-radius:4px;
	padding: 30px;
	padding-top:300px;
	color: #433334;
	background-image:url("../images/bg.png");
	width: 500px;
	text-align: center; 
	font-weight: bold;

}

.welcome a
{
	font-weight:bold;
	color:#FFF;
	text-decoration: none;
}

.welcome a:hover
{	
	text-decoration: underline;
}

.login
{
	margin: auto;
	margin-top: 150px;
	border-radius:4px;
	padding: 30px;
	padding-top:20px;
	width: 400px; 
	height:200px;
	font-weight: bold;
	text-align:center;
	background-color: #FFF;
	color: #345643;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

.login form
{
	width: 100%;
	text-align: center;
}

.login .title
{
	font-size: 38px;
	color: #92B901;
	font-weight: bold;
	text-align: center;
}

.login label
{
	padding-left: 10px;
	color: #345643;
}

ul
{
	list-style-type: none;
}
.overdue
{
	color: red;
}
.overdue li
{
	padding: 3px;
	padding-left:25px;
	background-image:url("../images/post.png");
	background-repeat:no-repeat;
}

.overdue a, .due a, .history a, .link a{
	color: #3375D9;
	font-weight: bold;
}
.due li
{	
	padding: 3px;
	padding-left:25px;
	background-image:url("../images/post.png");
	background-repeat:no-repeat;
}
#menu_menu .ui-tabs-panel{
	min-height: 500px;
}

.panel-title .submit
{
	float:right;
	margin: 0;
	padding: 0;
}

.panel-title a
{
	margin-bottom: 10px;
	padding: 0;
}
.title_msg
{
	float:left;
}

a {
	color:#0D44AA ;
	text-decoration: none;
}

a:hover {
	color: #06A209 ;
	text-decoration: underline;
}


.time{
	color:#E17009;
}

.changedBy{
	color: #333;
	font-weight: bold;
}

.history{
	padding-left:25px;
	background-image:url("../images/history-icon.png");
	background-repeat:no-repeat;	
}
.comment{
	color:#333;
}
.comment-box{
	background-image: url("../images/Default-Avatar.png");
	background-repeat:no-repeat;
	background-color: #FFF;
	margin-top: -2px;
	padding: 2px 4px 2px 55px;
	min-height: 55px;
}

.comment-box a{
	color:#3B5998 !important;
	cursor: pointer;
	font-weight: bold;
}
.comment-box .time{
	color: gray;
}

.box{
	height: 380px;
	overflow: auto;
	border: solid 1px #aaa;
	border-left:none;
	margin-bottom: 10px;
}
.filter{
	text-align: right;
	float:right;
}
.hide{
	display: none;
}
.show{
	display: block;
}

#workItem input[type="text"]{
	
}
input, button{
	margin: 5px;
}
.advanced_task_select{
	width: 150px;
	height: 25px;
}