/* CSS Document */
body {
	margin: 0px 0px;
	padding: 0px;
	background-color: #ccc;
}

.bodycontent {
	width: 100%;
}

.header {
	background-color: #467AA7;
	padding: 0px 10px;
	color: #85ADD0;
}

.header a,.menu_sitemap a {
	color: #FFFFFF;
	text-decoration: none;
}

.header a:hover,.menu_sitemap a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}

.header_menu {
	overflow: hidden;
	font-size: 80%;
}

.header_menu img {
	padding-left: 5px;
}

.header_projectname {
	clear:both;
	margin: 0px;
	padding: 10px;
}

.header_menu_left,.header_menu_right {
	background-color: #1964A6;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	border: thin solid #333;
	border-top-width: 0px;
	padding: 0px;
}

#header_menu_first {
	color:#FFF;
	border-left-width: 0px;
}

.header_menu_left {
	float: left;
	overflow: hidden;
}

.header_menu_right {
	float: right;
	overflow: hidden;

}

.header_menu_left_item {
	float: left;
	border-left: thin solid #333;
	padding: 2px 31px;
	margin: 0px;
}

.header_menu_right_item_border {
	border-left: thin solid #fff;
}

.header_menu_right_item {
	float: right;
	padding: 2px 10px;
	margin: 0px;
}

#header_menu_myproject:hover {
	cursor: pointer;
}

#header_menu_search {
	padding: 5px 5px;
	margin: 0px 0px;
}

#header_menu_search form {
	margin: 0px;
	padding: 0px;
	background-color: #FFFFFF;
}

#header_menu_search_input {
	margin: 0px 0px;
	border-width: 0px;
	padding: 0px 0px;
	width: 250px;
}

#header_menu_search_icon {
	height: 10px;
}

.menu {
	
}

.content {
	min-height: 400px;
	padding: 10px 10px;
}

.footer {
	background-color: #1964A6;
	text-align: center;
	padding: 0px 10px;
	color: #85ADD0;
}

.footer p {
	margin: 0px;
	padding: 0px;
}

.footer a {
	color: #FFFFFF;
	text-decoration: none;
}

.footer a:hover {
	color: #CCCCCC;
	text-decoration: underline;
}

.menu_sitemap {
	background-color: #1964A6;
	padding: 5px;
	padding-left: 10px;
	color: #85ADD0;
	font-size: 80%;
	min-height: 20px;
}

.menu_sitemap a {
	padding: 0px 5px;
}

.menu_sitemap img:hover {
	cursor: pointer;
}

.menu_menu {
	background-color: #1964A6;
	overflow: hidden;
	padding-left: 10px;
}

.menu_menu_item,.menu_menu_item_current {
	padding: 5px;
	margin: 4px 2px 0px 2px;
	width: 100px;
	text-align: center;
	float: left;
	background-color: #CCCCCC;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	color: #2A63CC;
	font-size: 120%;
}

.menu_menu_item:hover {
	cursor: pointer;
	background-color: #EFEFEF;
}

.menu_menu_item_current {
	background-color: #FFFFFF;
	!
	important;
}
.btn
{
	float:right;
	margin: 10px;
}
.btn:hover
{
	background-color: #ccc;
}
/* css for overview project*/
.panel
{
	border: solid 1px #ccc;
	border-radius : 4px;
	margin: 10px;
	padding: 10px;
}

.left-panel
{
	float: left;
	width: 35%;
}

.right-panel
{
	float: right;
	width: 60%;
}

#project-tab
{
	margin-top:-15px;
	margin-bottom: 10px;
}
#project-tab li
{	
	border: solid 1px #ccc;
	float: left;
	list-style-type: none;
	padding: 5px;
	margin: 0px;
	text-align: none;
	color: #0067ff;
}

#project-tab a
{
	text-decoration:none;
	color: #64bc0b;
}

#project-tab a:hover
{
	text-decoration:underline;
}

.task-left
{
	float: left;
	width: 20%;
}

.task-right
{
	float: right;
	width: 70%;
}

table
{
	width: 100%;
	border: none;
}

}
.error
{
	float: none;
	color: red;
}

.clear
{
	clear:both;
}

td a
{
	text-decoration: none;
	font-weight: bold;
}

td a:hover
{
	text-decoration: underline;
}

button
{
	padding: 4px;
	font-weight: bold;
	background-color: #ddd;
	border: solid 1px #ccc;
	color: #666;	
	border-radius:2px;
}

button:hover
{
	background-color: #ccc;
	border-color: #bbb;
	color: #333;
	
}

.command
{
	text-align: center;
}

#wrapper {
	width: 1000px;
	min-height:620px;
	margin: auto;	
	overflow:hidden;
	display:block;
	background-color: #fff;	
	border: solid 1px #aaa;
	border-top:none;
}
.search
{
	padding: 4px;
}


input[type="search"]
{
	height: 25px;
	width: 200px;
}

input[type="submit"], input[type="reset"]
{
	padding: 4px;
	font-weight: bold;
	background-color: #ddd;
	border: solid 1px #ccc;
	color: #666;	
	border-radius:2px;	
}

input[type="submit"]:hover, input[type="reset"]:hover
{
	background-color: #ccc;
	border-color: #bbb;
	color: #333;
}
.fix-panel
{
	border: solid 1px #aaa;
	margin-bottom: 10px;
	margin-left :auto;
	margin-right: auto;
}
.panel-title
{
	background-color: #ddd;
	padding-left: 20px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom: solid 1px #aaa;
}
.panel-content
{
	padding: 10px;
}
#sitemap
{
	color: #aaa;
	font-weight: bold;
}

label
{
	text-align:right;
	width: 120px;
	font-weight: bold;
	display: inline-block;
	padding-right: 10px;
}

.input input
{
	width: 250px !important;
	height: 25px;	
}
.submit
{
	text-align: center;
}
th
{
	text-align: left;	
}

.datatable_buttons
{
	float:left;
}

#tbproject_info
{
	width: 400px;
}
#quickSearchPanel
{
	border-radius : 4px 4px 0 0;
	border: solid 1px #ccc;
	border-bottom: none;
}

tr:hover td
{
	background-color: #88B6D9  !important;
	cursor: pointer;
}

#form_advanced_panel_link
{
	color: #333;
	font-weight : bold;
	margin-left:10px;	
	text-align: right;
	width: 120px;
}