<html>
<body>
<p>${workitem.workItemType.name} <b><a href="${link}/projects/${workitem.workItemContainer.parentProjectOrMyself.id}#/workitems/${workitem.id}?form"> ${workitem.title} </a></b> was asigned to you.</p>
-----------------------------------------------------------------------------------------------
<p><b>Title</b> : ${workitem.title}</p>
<p><b>Description</b> : ${workitem.description}</p>
<p><b>Status</b> : ${workitem.status.name}</p>
<p><b>Priority</b> : ${workitem.priority.name}</p>
<p><b>Status</b> : ${workitem.status.name}</p>
<p><b>Plan for</b> : ${workitem.workItemContainer.name}</p>
<p><b>Due date</b> : ${dueDate}</p>
<p><b>Asigned to</b> : ${workitem.asignee.account.fullName}</p>
</body>
</html>
